@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');

.navBarEdit {
    background-color:rgb(241, 128, 87);
    color: azure;
    font-size: 15px;
}

.Intro {
  font-family:Special Elite; 
  color: azure;
}

.aboutSection {
  color:ghostwhite; 
  font-family:Kalam
}